.leftPanelDiv {
  text-align: left;
  background-color: black;
}

.leftPanelSearch {
  position: absolute;
  top: 0;
  height: 30px;
}

.leftPanelRest {
  padding: 0px 0 10px;
  overflow-y: auto;
  height: calc(100vh - 81px);
}

.leftSingleDiv{
  font-size: 1.2rem;
  padding: 5px 0 5px 25px;
  cursor: pointer;
}

.leftPanellogoutButton{
  position: absolute;
  bottom: 0;
  width: 96%;
  left: 2%;
  height: 30px;
  border: 3px solid white;
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  margin-bottom: 3px;
}

.leftPanellogoutButton:hover {
  background-color: #D8D8D8;
}

.logoutModalButtonsWrapper {
  margin: 10px 0 0 0;
  display: flex;
  justify-content:space-between;
}

.logoutModalButtonsWrapper >button {
  width: 45%;
  background-color: white;
  border: 1px solid black;
  border-radius: 1px;
  padding-top: 2px;
  cursor: pointer;
}
