.loginInputWrapper {
  margin: 10px;
  font-size: 1.2rem;
}

.loginInputWrapper label{
  text-align: left;
}

.loginInput {
  background-color: black;
  color: #EBB03F;
  border-width: 1px;
  border-style: solid;
  border-color: #EBB03F;
  border-radius: 5px;
  padding: 3px 5px;
  margin: 10px 0;
  width: 200px;
}

.message {
  color: red;
  font-size: 1rem;
  margin-left: 5px;
  height: 1rem;
}
