.instrumentWrapper {
  width: calc(100% - 21px);
  position: relative;
  background-color: var(--main-color);
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 46px);
}

.instrumentFake {
  width: calc(100% - 178px);
  height: 10px;
  position: fixed;
  top: 26px;
  background-color: var(--main-color);
  z-index: 10;
}

.instrumentWrapper header {
  display: flex;
  justify-content:space-between;
  align-items:center;
}

.instrumentH1 {
  font-size: 2rem;
}

.instrumentH2 {
  padding-left: 2px;
}

.quotesButtonsWrapper {
  width: 100%;
  display: flex;
  justify-content:flex-end;
  border-top: 2px solid #46e3c1;
}

.quotesButton {
  margin-top: 0px;
  margin-right: 2px;
  border: none;
  font-family: Arial;
  color: #045C4F;
  background: white;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

.selectedButton {
  background: #46e3c1;
}
