.instrumentWrapper {
  position: relative;
  background-color: var(--main-color);
  padding: 10px;
  overflow-y: auto;
  height: calc(100vh - 26px);
}

.instrumentFake {
  width: calc(100% - 180px);
  height: 10px;
  position: fixed;
  top: 26px;
  background-color: var(--main-color);
}

.instrumentH1 {
  font-size: 2rem;
}

.instrumentH2 {
  padding-left: 2px;
}

.quotesButtonsWrapper {
  display: flex;
  justify-content:flex-end;
  border-top: 1px solid var(--main-color);
}

.quotesButton {
  margin-top: 3px;
  margin-left: 2px;
  border: none;
  font-family: Arial;
  color: #045C4F;
  background: #46e3c1;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
}

.selectedButton {
  background: white;
}
