.leftPanelItemWrapper {
  display: flex;
  justify-content:flex-start;
  align-items: baseline;
}

.symbolDiv {
  min-width: 25%;
}

.infoDiv {
  font-size: 0.8rem;
  width: 70%;
  margin-left: 8%;
  display: flex;
  justify-content:flex-start;
}
