.listWrapper {
  margin-bottom: 5px;
  color: black;
  width: 100px;
  background-color: yellow;
  width: 100%;
}

.listWrapper:last-child {
  margin-bottom: 0px;
}

.listHeaderWrapper {
  display: flex;
  justify-content:space-between;
  flex-direction:row;
  background-color: var(--main-color);
  cursor: move;
}

.listHeaderWrapper > h3 {
  padding: 5px;
  text-align: center;
  color: white;
  margin-left: 5px;
}

.listHeaderWrapper > button {
  border: none;
  background-color: #FA5882;
  color: white;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.listWrapper > section {
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  padding-bottom: 1rem;
}
