@import url('https://fonts.googleapis.com/css?family=Francois+One');

.loginWrapper {
  position: absolute;
  width: 240px;
  margin: 0 auto ;
  padding: 30px;
  text-align: left;
  background-color: black;
  border-radius: 5%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginTitle {
  font-family: 'Francois One', sans-serif;
  font-size:2.5rem;
  text-align: center;
  padding: 10px 0 40px;
  color:  var(--main-color);/*#EBB03F;*/
}

.loginError {
  color: red;
  font-size: 1rem;
  height: 30px;
  margin: 0 10px;
}

.loginSubmit {
  width: 212px;
  height: 24px;
  margin: 10px;
  cursor: pointer;
  background-color: var(--main-color);/*#EBB03F;*/
  border-width: 1px;
  border-style: solid;
  border-color: var(--main-color);/*#EBB03F;*/
  border-radius: 5px;
  font-weight: bold;
}
