@import url('https://fonts.googleapis.com/css?family=Francois+One');

.loginWrapper {
  position: relative;
  width: 240px;
  margin: 0 auto ;
  padding: 30px;
  text-align: left;
  background-color: black;
  border-radius: 5%;
  top: 50%;
  /*left: 50%;*/
  transform: translate(0%, -50%);
}

.loginLogo {
  position: absolute;
  top: 34px;
  left: 103px;
  width: 14px;
  height: 19px;
  background-image: url(./logo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.loginTitle {
  font-family: 'Francois One', sans-serif;
  font-size:2.5rem;
  text-align: center;
  padding: 20px 0 20px;
  color:  var(--main-color);/*#EBB03F;*/
}

.loginError {
  color: red;
  font-size: 1rem;
  height: 30px;
  margin: 0 10px;
}

.loginSubmit {
  width: 212px;
  height: 24px;
  margin: 10px;
  cursor: pointer;
  background-color: var(--main-color);/*#EBB03F;*/
  border-width: 1px;
  border-style: solid;
  border-color: var(--main-color);/*#EBB03F;*/
  border-radius: 5px;
  font-weight: bold;
}
