.moduleWrapper {
  margin-bottom: 10px;
  text-align: left;;
}

.moduleArrow{
  position: relative;
  background-color: none;
  z-index: 1;
}

.open {
  top: -2px;
  width: 0.6rem;
  height: 0.6rem;
  margin-left: 5px;
  padding-right: 5px;
  transform: rotate(0deg);
}

.close {
  top: -3px;
  width: 0.6rem;
  height: 0.6rem;
  padding-right: 5px;
  transform: rotate(-90deg);
}

.moduleDiv {
  padding-left: calc( 25px + 0.6rem);
}

.selectedModuleDiv {
  background-color: #016262;
}
