.eachNews{
  margin-bottom: 10px;
}

.newsLink {
  padding: 5px;
}

.newsLink > a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.newsLink:hover {
  background-color: var(--main-color);
}

.dateDiv {
  color: black;
  padding: 2px 0 0 5px;
}

.moreNewsWrapper {
  display: flex;
  justify-content:flex-end;
  border-top: 1px solid var(--main-color);
}

.moreNews {
  margin-top: 3px;
  border: none;
  font-family: Arial;
  color: #045C4F;
  background: #46e3c1;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
}

.moreNews:hover {
  background-color: var(--main-color);
}
