.priceAlertUl {
  padding: 20px;
}

.priceAlertTicker {
  display: flex;
  justify-content:space-between;
  flex-wrap:wrap;
  align-items:center;
  margin-bottom: 5px;
  background-color: teal;
}

.priceAlertTicker > div {
  font-size: 1.1rem;
  width: 30%;
  margin: 5px 0;
}

.priceAlertSymbol {
    text-align: left;
    padding-left: 10px;
}

.priceAlertTickerSetting {
  vertical-align: baseline;
  text-align: center;
}

.priceAlertTickerSetting > * {
  margin: 1px;
}

.priceAlertButtonWrapper {
  text-align: right;
}

.priceAlertTickerButton {
  background-color: #FA5882;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px 5px;
  margin-right: 10px;
}
