.statisticsWrapper{
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  /*justify-content:space-around;*/
}

.statisticsDiv {
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 12px;
  /*padding: 10px;*/
}

.statisticsNum {

}

.statisticsType {
  color: black;
  padding-top: 2px;
  padding-left: 1px;
}
